.container {
    // padding: 20px;



    .swipe_wrap {

        .swipe_right {
            height: inherit;
            display: flex;
            font-size: 12px;
        }
    }

    .list_wrap {
        width: 100%;

        // overflow: auto;
        // padding: 12px;
        .list_item {
            width: 100%;
            display: flex;
            align-items: center;

            .nut-cell-title {
                width: 300px;
            }

            .nut-cell-extra {
                align-self: center;
                flex: 0 0 20px;
            }


            .nut-checkbox {
                margin-right: 10px;
            }

            .nut-animate {
                width: 100%;
            }
        }
    }

    .padding_wrap {
        padding-inline: 12px;
        box-sizing: border-box;
    }
}