.container {
    // padding: 20px;

    .nut-cell-extra {
        align-self: center;
    }

    .swipe_wrap {

        .swipe_right {
            height: inherit;
            display: flex;
            font-size: 12px;
        }
    }

    .list_wrap {
        width: 100%;
        // overflow: auto;
        // padding: 12px;
    }

    .padding_wrap {
        padding-inline: 12px;
        box-sizing: border-box;
    }
}